<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take pictures of food items</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photos to upload food pictures</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSAllowsArbitraryLoads</key>
	<string></string>
	<key>CFBundleIconName</key>
	<string>AppIcon1</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
